body {
    padding: 20px 20px 26px;
    max-width: 680px;
    margin: 0 auto;
}
ul {
    margin: 0px;
    padding: 0px;
}
ul li {
    padding-right: 10px;
    margin: 0px;
    display: inline;
}

html {
    background-color: aliceblue;
}

.avatar {
    border-radius: 3%;
    padding: 1%;
    border: black solid 1px;
  }